﻿@{
    Layout = "~/Views/Shared/_Auth.cshtml";
    ViewBag.Title = "Login";
    ViewBag.Module = "Login";
}


<div id="preloader" style="display:none;">
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>
</div>
<div class="auth-wrapper">
    <div class="container-fluid h-100">
        <div class="row flex-row h-100 bg-white">
            <div class="col-xl-8 col-lg-6 col-md-5 p-0 d-md-block d-lg-block d-sm-none d-none">
                <div class="lavalite-bg" style="background-image: url('@Url.Content("~/Content/img/login_bg.jpg")')">
                    <div class="lavalite-overlay"></div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-7 my-auto p-0">
                <div class="authentication-form mx-auto">
                    <div class="text-center">
                        <img style="height:100px;" src="@Url.Content("~/Content/img/logo.jpg")">
                        <h3>Raw Material Inventory</h3>
                        <h5 class="h6 text-black-50">Please sign in to start your session.</h5>
                    </div>
                    <form action="../index.html">
                        <div class="form-group">
                            <input type="text" autocomplete="off" class="form-control" id="Username" placeholder="Username">
                            <i class="ik ik-user"></i>
                            <span class="help-block text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="Password" placeholder="Password">
                            <i class="ik ik-lock"></i>
                            <span class="help-block text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col text-left">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="RememberMe" name="RememberMe" value="1">
                                    <span class="custom-control-label">Remember Me</span>
                                </label>
                            </div>
                            <div class="col text-right">
                                <a href="">Forgot Password ?</a>
                            </div>
                        </div>
                        <div class="sign-btn text-center">
                            @*<button type="button" class="btn btn-primary"><i class="ik ik-log-in"></i>Sign In</button>*@
                            <a href="#" class="btn btn-primary" id="btnSignIn"><i class="ik ik-log-in"></i>Sign In</a>
                        </div>
                        <div class="row mt-20 mb-2">
                            <div class="col-lg-12">
                                <div class="text-center ml-3 mr-3">
                                    <span class="text-primary-dark"> Copyright © @DateTime.Now.Year <b>PT. Elastomix Indonesia</b></span>
                                </div>
                            </div>
                        </div>
                        @*<div class="row mb-2">
                                <div class="col-lg-12">
                                    <div class="text-center ml-3 mr-3">
                                        <span class="text-info">Powered by PT. Duta Kalingga Pratama</span>
                                    </div>
                                </div>
                            </div>*@
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section custom_js
{
    <script type="text/javascript">
        let server = '@ViewBag.server';
        let baseUrl = '@ViewBag.BaseUrl';
        let isValid;

        function clearForm() {
            $('#Username').removeClass('is-invalid');
            $('#Username').next().html('');
            $('#Password').removeClass('is-invalid');
            $('#Password').next().html('');
        }

        $('#btnSignIn').click(function () {
            isValid = true;
            clearForm();
            if ($('#Username').val().length == 0) {
                isValid = false;
            }
            if ($('#Password').val().length == 0) {
                isValid = false;
            }
            if (!isValid) {
                toastr.error('Username or Password cannot empty');
            }
            if (isValid) {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: server + 'Api/Login/Auth',
                    data: {
                        Username: $('#Username').val(),
                        Password: $('#Password').val()
                    },
                    success: function (response) {
                        isValid = response.status;
                        if (!isValid) {
                            //show error
                            toastr.error(response.message);
                        } else {
                            //redirect
                            if ($('#RememberMe').is(':checked')) {
                                window.localStorage.setItem('token', response.token);
                                window.localStorage.setItem('username', response.username);
                                window.localStorage.setItem('rememberMe', $('#RememberMe').is(':checked'));
                            }
                            window.location.replace(baseUrl + '/Dashboard?t=' + response.token + '&u=' + response.username + '&r=' + $('#RememberMe').is(':checked'));
                        }
                        $("#Password").val('');
                    }
                });
            }

        });

        $("#Username, #Password").keypress(function (event) {
            if (event.keyCode === 13) {
                $("#btnSignIn").click();
            }
        }); 
    </script>
    <script>
        var preloader = $('#preloader');
        $(document).ajaxStart(function () {
            preloader.show();
        }).ajaxStop(function () {
            preloader.hide();
        });
    </script>
}