﻿@{
    ViewBag.Title = "Purchase Request";
    ViewBag.Module = "PurchaseRequest";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-inbox bg-blue"></i>
                <div class="d-inline">
                    <h5>@ViewBag.Title</h5>
                    <span>Edit</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href=""><i class="ik ik-database"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">PPIC</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Edit @ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <input type="hidden" id="ID" />
                        <input type="hidden" id="CodeHidden" />
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Code</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" name="Code" id="Code" readonly />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Reference Number</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" name="PONumber" id="PONumber" readonly />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Source Type</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" name="SourceType" id="SourceType" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4"><b>Origin</b></label>
                        </div>
                        <div id="sourceField">
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4" id="SourceLabel">Supplier</label>
                                <div class="col-sm-8"><u><a href="#" id="btnSelectSource"><i class="ik ik-eye"></i>&nbsp; <ins id="SourceSelectLabel">Select Supplier</ins></a></u></div>
                            </div>
                        </div>
                        <div id="sourceForm">
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4" id="SourceCodeLabel">Supplier Code</label>
                                <div class="col-sm-8">
                                    <input type="hidden" id="SourceID" />
                                    <input type="text" autocomplete="off" class="form-control" name="SourceCode" id="SourceCode" readonly />
                                    <span class="help-block text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4" id="SourceNameLabel">Supplier Name</label>
                                <div class="col-sm-8">
                                    <input type="text" autocomplete="off" class="form-control" name="SourceName" id="SourceName" readonly />
                                    <span class="help-block text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4" id="SourceAddressLabel">Supplier Address</label>
                                <div class="col-sm-8">
                                    <input type="text" autocomplete="off" class="form-control" name="SourceAddress" id="SourceAddress" readonly />
                                    <span class="help-block text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4"><b>Destination</b></label>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Warehouse</label>
                            <div class="col-sm-8"><u><a href="#" id="btnSelectWarehouse"><i class="ik ik-eye"></i>&nbsp; Select Warehouse</a></u></div>
                        </div>
                        <div id="warehouseForm">
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Warehouse Code</label>
                                <div class="col-sm-8">
                                    <input type="hidden" id="WarehouseID" />
                                    <input type="text" autocomplete="off" class="form-control" name="WarehouseCode" id="WarehouseCode" readonly />
                                    <span class="help-block text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Warehouse Name</label>
                                <div class="col-sm-8">
                                    <input type="text" autocomplete="off" class="form-control" name="WarehouseName" id="WarehouseName" readonly />
                                    <span class="help-block text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Warehouse Type</label>
                                <div class="col-sm-8">
                                    <input type="text" autocomplete="off" class="form-control" name="WarehouseType" id="WarehouseType" readonly />
                                    <span class="help-block text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div id="outsourceForm" style="display:none;">
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Truck Type</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="TruckType">
                                    </select>
                                    <input type="text" autocomplete="off" class="form-control" id="TruckTypeText" readonly style="display:none;" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Delivery Date</label>
                                <div class="col-sm-8">
                                    <input type="text" autocomplete="off" class="form-control datepicker" id="deliveryDate" />
                                    <span class="help-block text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Status</label>
                            <div class="col-sm-8">
                                <span id="Status"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <button class="btn btn-danger" id="btnPDF" style="display:none;"><i class="ik ik-file"></i>View PDF</button> &nbsp;
                                <button type="button" class="btn btn-primary" id="btnSave"><i class="ik ik-save"></i>Save</button>
                            </div>
                        </div>
                        <br />
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label class="col-form-label"><b>Receiving Plan</b></label>
                                <button id="btnAdd" class="btn btn-primary float-right"><i class="ik ik-plus"></i>Add Detail</button>
                            </div>
                            <br />
                            <div class="col-md-12">
                                <div class="dt-responsive col-md-12">
                                    <table class="table table-bordered table-striped nowrap" id="detailTable" width="100%" cellspacing="0">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>RAW MATERIAL CODE</th>
                                                <th>RAW MATERIAL NAME</th>
                                                <th>TOTAL QTY</th>
                                                <th>UoM</th>
                                                <th>MOQ</th>
                                                <th>QTY/BAG</th>
                                                <th>QTY BAG</th>
                                                <th>QTY</th>
                                                <th>ETA</th>
                                                <th>PACKAGING</th>
                                                <th>REMARKS</th>
                                                <th>CREATED BY</th>
                                                <th>CREATED ON</th>
                                                <th id="actionHeader"></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-info float-left" id="btnBack"><i class="ik ik-arrow-left"></i>Back</button>
                <div id="buttonGroup">
                    <div class="float-right">
                        <button type="button" class="btn btn-danger" id="btnDelete"><i class="ik ik-x-circle"></i>Cancel</button>
                        <button type="button" class="btn btn-success" id="btnConfirm"><i class="ik ik-x-circle"></i>Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Form Modal -->
<div class="modal" id="formSourceModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Select Supplier</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="dt-responsive col-md-12">
                    <table class="table table-bordered table-striped nowrap" id="sourceDataTable" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th id="CodeLabel">SUPPLIER CODE</th>
                                <th id="NameLabel">SUPPLIER NAME</th>
                                <th>ABBREVIATION</th>
                                <th>CLASSIFICATION</th>
                                <th>ADDRESS</th>
                                <th>TELEPHONE</th>
                                <th>CONTACT</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Form Modal -->
<div class="modal" id="formSourceWarehouseModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Select Warehouse</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="dt-responsive col-md-12">
                    <table class="table table-bordered table-striped nowrap" id="sourceWarehouseDataTable" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>WAREHOUSE CODE</th>
                                <th>WAREHOUSE NAME</th>
                                <th>WAREHOUSE TYPE</th>
                                <th>STATUS</th>
                                <th>CREATED BY</th>
                                <th>CREATED ON</th>
                                <th>MODIFIED BY</th>
                                <th>MODIFIED ON</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="formWarehouseModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Select Warehouse</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="dt-responsive col-md-12">
                    <table class="table table-bordered table-striped nowrap" id="warehouseDataTable" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>WAREHOUSE CODE</th>
                                <th>WAREHOUSE NAME</th>
                                <th>WAREHOUSE TYPE</th>
                                <th>STATUS</th>
                                <th>CREATED BY</th>
                                <th>CREATED ON</th>
                                <th>MODIFIED BY</th>
                                <th>MODIFIED ON</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Form Modal -->
<div class="modal" id="formModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Add Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="dt-responsive">
                    <table class="table table-bordered table-striped nowrap display" id="data_table" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th>RAW MATERIAL ID</th>
                                <th>RAW MATERIAL CODE</th>
                                <th>RAW MATERIAL NAME</th>
                                <th>QTY/FULL BAG</th>
                                <th>UOM</th>
                                <th>MIN PURCHASE QTY</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="materialInfo" style="display:none;">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Raw Material Code</label>
                        <div class="col-sm-8">
                            <input type="hidden" name="detailID" id="detailID" />
                            <input type="text" autocomplete="off" class="form-control RawMaterialID" name="detailCode" id="detailCode" readonly />
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Raw Material Name</label>
                        <div class="col-sm-8">
                            <input type="text" autocomplete="off" class="form-control RawMaterialID" name="detailName" id="detailName" readonly />
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Min Purchase Qty</label>
                        <div class="col-sm-8">
                            <input type="hidden" class="form-control" id="detailMinPurchaseQtyKg" />
                            <input type="hidden" class="form-control" id="detailMinPurchaseQtyLitre" />
                            <input type="text" autocomplete="off" class="form-control" name="detailQty" id="detailMinPurchaseQty" readonly />
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">UoM</label>
                        <div class="col-sm-8">
                            <select id="detailUnitOfOrder" class="form-control UoM">
                                <option value="KG">KG</option>
                                <option value="L">L</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Qty/Bag</label>
                        <div class="col-sm-8">
                            <input type="text" autocomplete="off" class="form-control" id="QtyPerBag" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Qty</label>
                        <div class="col-sm-8">
                            <input type="text" autocomplete="off" class="form-control number1 Qty" name="detailQty" id="detailQty" />
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Total Qty</label>
                        <div class="col-sm-8">
                            <input type="text" autocomplete="off" class="form-control number" id="totalQty" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Total Bag</label>
                        <div class="col-sm-8">
                            <input type="text" autocomplete="off" class="form-control number-non-decimal" id="totalBag" readonly />
                        </div>
                    </div>
                    <div class="form-group row" id="receiveDate">
                        <label class="col-form-label col-sm-4">Receive Date</label>
                        <div class="col-sm-8">
                            <input type="text" autocomplete="off" class="form-control datepicker ETA" name="detailETA" id="detailETA" />
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row" id="packagingGroup">
                        <label class="col-form-label col-sm-4">Packaging</label>
                        <div class="col-sm-8">
                            <input type="text" autocomplete="off" class="form-control number1 Packaging" name="packaging" id="packaging" />
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Remarks</label>
                        <div class="col-sm-8">
                            <input type="text" autocomplete="off" class="form-control Remarks" name="remarks" id="remarks" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAddDetail"><i class="ik ik-plus"></i>Add Detail</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="saveModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Save Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                <button type="button" class="btn btn-success" id="btnYes"><i class="ik ik-check-circle"></i>Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Confirm Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                <button type="button" class="btn btn-success" id="btnYesConfirm"><i class="ik ik-check-circle"></i>Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Cancel Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                <button type="button" class="btn btn-success" id="btnYesDelete"><i class="ik ik-check-circle"></i>Yes</button>
            </div>
        </div>
    </div>
</div>



@section custom_css
{
    @Styles.Render("~/Content/plugins/datatables/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables/fixedColumns.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/toastr/toastr.css")
    @Styles.Render("~/Content/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")
    <style>
        tr.row_selected td {
            background-color: lightblue !important;
        }
    </style>

}

@section custom_js
{
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.fixedColumns.min.js")
    @Scripts.Render("~/Content/plugins/toastr/toastr.min.js")
    @Scripts.Render("~/Content/custom/js/notification.js")
    @Scripts.Render("~/Content/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Content/plugins/inputmask/js/jquery.inputmask.bundle.js")
    @Scripts.Render("~/Content/plugins/daterangepicker/moment.min.js")

<script type="text/javascript">

        let server = '@ViewBag.server';
        var isValid = true;
        let token = '@Session["token"].ToString()';
        let sourceID = 'Supplier';


          $('#btnBack').click(function () {
        window.location.replace('@Url.Action("Index", "PurchaseRequest")')
        });

        var sourceDataTable = $('#sourceDataTable').DataTable({
            processing: true,
            serverSide: true,
            scrollY: "500px",
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            order: [[1, "desc"]],
            ajax: {
                "dataType": "json",
                "type": "POST",
                "url": server + "Api/" + sourceID + "/Datatable"
            },
            columnDefs: [
                { orderable: false, targets: 0 }
            ],
            columns: [
                 {
                    "data": null,
                    "render" : function(data, type, row) {
                        return '<i class="ik ik-check"></i>';
                    }
                },
                { "data": "ID", "name": "ID", "autoWidth": true, visible: false },
                { "data": "Code", "name": "Code", "autoWidth": true },
                { "data": "Name", "name": "Name", "autoWidth": true },
                { "data": "Abbreviation", "name": "Abbreviation", "autoWidth": true },
                { "data": "ClassificationName", "name": "ClassificationName", "autoWidth": true },
                { "data": "Address", "name": "Address", "autoWidth": true },
                { "data": "Telephone", "name": "Telephone", "autoWidth": true },
                { "data": "Contact", "name": "Contact", "autoWidth": true },
            ]
        });

        initData();
        $('#packagingGroup').hide();

        function initData() {
            $.ajax({
                type: 'GET',
                async: false,
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/PurchaseRequest/GetDataById?id=@ViewBag.param',
                success: function (response) {
                    isValid = response.status;
                    if (isValid) {
                        let data = response.data;
                        $('#ID').val(data.ID);
                        $('#Code').val(data.Code);
                        $('#CodeHidden').val(data.Code);
                        $('#PONumber').val(data.RefNumber);

                        $('#btnPDF').hide();

                        let removeBtn = true;

                        if (data.TransactionStatus == 'OPEN') {
                            $('#Status').addClass('badge badge-info');
                        } else if (data.TransactionStatus == 'ONPROGRESS') {
                            $('#Status').addClass('badge badge-warning');
                        } else {
                            removeBtn = false;
                            $('#btnSave').hide();
                            $('#btnPDF').show();
                            $('#buttonGroup').hide();
                            $('#btnSelectSource').hide();
                            $('#btnSelectWarehouse').hide();
                            $('#btnAdd').hide();

                            if (data.TransactionStatus == 'CANCELLED') {
                                //$('#SourceType').hide();
                                $('#SourceTypeText').show();
                                $('#Status').addClass('badge badge-danger');
                            } else {
                                //$('#SourceType').hide();
                                $('#SourceTypeText').show();
                                $('#Status').addClass('badge badge-success');
                            }

                            $('#deliveryDate').prop('readonly', true);
                            $('#deliveryDate').removeClass('datepicker');

                            $('#TruckType').hide();
                            $('#TruckTypeText').val(data.TruckType + ' MT');
                            $('#TruckTypeText').show();
                        }
                        $('#Status').html(data.TransactionStatus);



                        $('#SourceType').val(data.SourceType);
                        $('#SourceTypeText').val(data.SourceType);
                        $('#SourceID').val(data.SourceID);
                        $('#SourceCode').val(data.SourceCode);
                        $('#SourceName').val(data.SourceName);
                        $('#SourceAddress').val(data.SourceAddress);

                        $('#WarehouseID').val(data.DestinationID);
                        $('#WarehouseCode').val(data.DestinationCode);
                        $('#WarehouseName').val(data.DestinationName);
                        $('#WarehouseType').val(data.DestinationType);

                        $('#outsourceForm').hide();
                        $('#packagingGroup').hide();
                        var stype = data.SourceType;
                        if (stype == 'VENDOR' || stype == 'IMPORT') {
                            sourceID = 'Supplier';
                            $('#SourceLabel').html('Supplier');
                            $('#SourceCodeLabel').html('Supplier Code');
                            $('#SourceNameLabel').html('Supplier Name');
                            $('#SourceAddressLabel').html('Supplier Address');
                            $('#SourceSelectLabel').html('Select Supplier');
                            sourceDataTable.ajax.url(server + "Api/" + sourceID + "/Datatable").load();
                            $('#sourceField').show();
                            $('#CodeLabel').html('SUPPLIER CODE');
                            $('#NameLabel').html('SUPPLIER NAME');
                        } else if (stype == 'CUSTOMER') {
                            sourceID = 'Customer';
                            $('#SourceLabel').html('Customer');
                            $('#SourceCodeLabel').html('Customer Code');
                            $('#SourceNameLabel').html('Customer Name');
                            $('#SourceAddressLabel').html('Customer Address');
                            $('#SourceSelectLabel').html('Select Customer');
                            sourceDataTable.ajax.url(server + "Api/" + sourceID + "/Datatable").load();
                            $('#sourceField').show();
                            $('#CodeLabel').html('CUSTOMER CODE');
                            $('#NameLabel').html('CUSTOMER NAME');
                        } else if (stype == 'OUTSOURCE') {
                            initTruckType();
                            $('#outsourceForm').show();
                            $('#packagingGroup').show();
                            $("#sourceWarehouseDataTable tbody tr").removeClass('row_selected');
                            sourceID = 'Warehouse';
                            $('#SourceLabel').html('Warehouse');
                            $('#SourceCodeLabel').html('Warehouse Code');
                            $('#SourceNameLabel').html('Warehouse Name');
                            $('#SourceSelectLabel').html('Select Warehouse');
                            $('#sourceField').show();
                        }


                        $('#deliveryDate').val(data.DeliveryDate);
                        $('#TruckType').val(data.TruckType);

                        var package = sourceID == 'Warehouse' ? true : false;
                        $('#detailTable').DataTable({
                            processing: true,
                            serverSide: true,
                            scrollY: "500px",
                            scrollX: true,
                            scrollCollapse: true,
                            paging: true,
                            order: [[1, "desc"]],
                            ajax: {
                                "dataType": "json",
                                "type": "POST",
                                "url": server + "Api/PurchaseRequest/DatatableDetail?HeaderID=" + data.ID
                            },
                            columnDefs: [
                                { orderable: false, targets: -1 }
                            ],
                            columns: [
                                { "data": "RawMaterialCode", "name": "RawMaterialCode", "autoWidth": true },
                                { "data": "RawMaterialName", "name": "RawMaterialName", "autoWidth": true },
                                { "data": "TotalQty", "name": "TotalQty", "autoWidth": true },
                                { "data": "UoM", "name": "UoM", "autoWidth": true },
                                { "data": "MoQ", "name": "MoQ", "autoWidth": true },
                                { "data": "QtyPerBag", "name": "QtyPerBag", "autoWidth": true },
                                { "data": "QtyBag", "name": "QtyBag", "autoWidth": true },
                                { "data": "Qty", "name": "Qty", "autoWidth": true },
                                { "data": "ETA", "name": "ETA", "autoWidth": true },
                                { "data": "Packaging", "name": "Packaging", "autoWidth": true, visible: package },
                                { "data": "Remarks", "name": "Remarks", "autoWidth": true },
                                { "data": "CreatedBy", "name": "CreatedBy", "autoWidth": true },
                                { "data": "CreatedOn", "name": "CreatedOn", "autoWidth": true },
                                {
                                    "data": null,
                                    "render": function (data, type, row) {
                                        let button = '<button type="button" class="btn btn-danger">';
                                        button += '<i class="ik ik-trash"></i>Remove</button>';
                                        return button;
                                    },
                                    visible: removeBtn
                                },
                            ]
                        });

                    } else {
                        notify("Warning", "warning", response.message);
                        setTimeout(function () { window.location = '@Url.Action("Index", "PurchaseRequest")'; }, 1000);
                    }
                }
            });
    };





    $('#detailTable tbody').on('click', 'button', function () {
        var dat = $('#detailTable').DataTable().row($(this).parents('tr')).data();
         $.ajax({
                type: 'POST',
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/PurchaseRequest/RemoveDetail',
                data: {
                    ID : dat.ID
                },
                success: function (response) {
                    isValid = response.status;
                    if (!isValid) {
                        notify("Warning", "warning", response.message);
                    } else {
                          notify("Success", "success", response.message);
                             $('#detailTable').DataTable().ajax.reload();
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    notify("Error", "error", "Oops! Something went wrong.");
                }
            });
    });



        function initTruckType() {
            $.ajax({
                type: 'GET',
                async: false,
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/PurchaseRequest/GetTruckType',
                success: function (response) {
                    isValid = response.status;
                    if (isValid) {
                        let data = response.source_type;
                        let body = '';
                        $('#TruckType').empty();
                        $.each(data, function (index, value) {
                            body += '<option value="' + value + '">' + value + ' MT</option>';
                        });
                        $('#TruckType').append(body);
                    }
                }
            });
        };

        var sourceWarehouseDataTable = $('#sourceWarehouseDataTable').DataTable({
            processing: true,
            serverSide: true,
            scrollY: "500px",
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            order: [[1, "desc"]],
            ajax: {
                "dataType": "json",
                "type": "POST",
                "url": server + "Api/Warehouse/Datatable"
            },
            columnDefs: [
                { orderable: false, targets: 0 }
            ],
            columns: [
                {
                    "data": null,
                    "render": function (data, type, row) {
                        return '<i class="ik ik-check"></i>';
                    }
                },
                { "data": "ID", "name": "ID", "autoWidth": true, visible: false },
                { "data": "Code", "name": "Code", "autoWidth": true },
                { "data": "Name", "name": "Name", "autoWidth": true },
                { "data": "Type", "name": "Type", "autoWidth": true },
                { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                { "data": "CreatedBy", "name": "CreatedBy", "autoWidth": true },
                { "data": "CreatedOn", "name": "CreatedOn", "autoWidth": true },
                { "data": "ModifiedBy", "name": "ModifiedBy", "autoWidth": true },
                { "data": "ModifiedOn", "name": "ModifiedOn", "autoWidth": true },
            ]
        });

        var warehouseDataTable = $('#warehouseDataTable').DataTable({
            processing: true,
            serverSide: true,
            scrollY: "500px",
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            order: [[1, "desc"]],
            ajax: {
                "dataType": "json",
                "type": "POST",
                "url": server + "Api/Warehouse/Datatable"
            },
            columnDefs: [
                { orderable: false, targets: 0 }
            ],
            columns: [
                 {
                    "data": null,
                    "render" : function(data, type, row) {
                        return '<i class="ik ik-check"></i>';
                    }
                },
                { "data": "ID", "name": "ID", "autoWidth": true, visible: false },
                { "data": "Code", "name": "Code", "autoWidth": true },
                { "data": "Name", "name": "Name", "autoWidth": true },
                { "data": "Type", "name": "Type", "autoWidth": true },
                { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                { "data": "CreatedBy", "name": "CreatedBy", "autoWidth": true },
                { "data": "CreatedOn", "name": "CreatedOn", "autoWidth": true },
                { "data": "ModifiedBy", "name": "ModifiedBy", "autoWidth": true },
                { "data": "ModifiedOn", "name": "ModifiedOn", "autoWidth": true },
            ]
        });

        $('#sourceDataTable tbody').on('click', 'tr', function () {
            var data = sourceDataTable.row(this).data();
            $('#SourceID').val(data.ID);
            $('#SourceCode').val(data.Code);
            $('#SourceName').val(data.Name);
            $('#SourceAddress').val(data.Address);
            $('#sourceForm').show();
            $('#formSourceModal').modal('hide');

            $("#sourceDataTable tbody tr").removeClass('row_selected');
		    $(this).addClass('row_selected');
        });

        $('#sourceWarehouseDataTable tbody').on('click', 'tr', function () {
            var data = sourceWarehouseDataTable.row(this).data();
            $('#SourceID').val(data.ID);
            $('#SourceCode').val(data.Code);
            $('#SourceName').val(data.Name);
            $('#SourceAddressLabel').hide();
            $('#SourceAddress').hide();
            $('#SourceAddress').val("");
            $('#sourceForm').show();
            $('#formSourceWarehouseModal').modal('hide');

            $("#sourceWarehouseDataTable tbody tr").removeClass('row_selected');
            $(this).addClass('row_selected');
        });

        $('#warehouseDataTable tbody').on('click', 'tr', function () {
            var data = warehouseDataTable.row(this).data();
            $('#WarehouseID').val(data.ID);
            $('#WarehouseCode').val(data.Code);
            $('#WarehouseName').val(data.Name);
            $('#WarehouseType').val(data.Type);
            $('#warehouseForm').show();
            $('#formWarehouseModal').modal('hide');

            $("#warehouseDataTable tbody tr").removeClass('row_selected');
		    $(this).addClass('row_selected');
        });


        $('#btnSelectSource').click(function () {
            if (sourceID != 'Warehouse') {
                $('#formSourceModal').modal('show');
                sourceDataTable.columns.adjust();
            } else {
                $('#formSourceWarehouseModal').modal('show');
                sourceWarehouseDataTable.columns.adjust();
            }
        });

        $('#btnSelectWarehouse').click(function () {
            $('#formWarehouseModal').modal('show');
            warehouseDataTable.columns.adjust();
        });

        $('#btnAddSource').click(function () {
            $('#formSourceModal').modal('hide');
        });

        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            todayHighlight: true,
            orientation: "left",
            autoclose: true,
            startDate: '+0d',
        });

        $('#btnSave').click(function () {
            $('#saveModal').modal('show');
        });

        $('#btnConfirm').click(function () {
            $('#confirmModal').modal('show');
        });

        $('#btnDelete').click(function () {
            $('#deleteModal').modal('show');
        });

        $('#btnYes').click(function () {
            $.ajax({
                type: 'POST',
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/PurchaseRequest/Update',
                data: {
                    ID: '@ViewBag.param',
                    SourceID: $('#SourceID').val(),
                    DestinationID: $('#WarehouseID').val(),
                    TruckType: $('#TruckType').val(),
                    DeliveryDate: $('#deliveryDate').val()
                },
                success: function (response) {
                    isValid = response.status;
                    if (!isValid) {
                        $.each(response.error_validation, function (index, value) {
                            if (value.FieldName == 'SourceID') {
                                $('#error_source').html(value.ErrorMessage);
                            } else if (value.FieldName == 'DestinationID') {
                                $('#error_destination').html(value.ErrorMessage);
                            } else if (value.FieldName == 'Details') {
                                $('#error_receiving_plan').html(value.ErrorMessage);
                            } else {
                                $('#' + value.FieldName).next().html(value.ErrorMessage);
                                $('#' + value.FieldName).addClass('is-invalid');
                            }

                        });

                        notify("Warning", "warning", response.message);

                    } else {
                        notify("Success", "success", response.message);
                        setTimeout(function () {  window.location.reload() }, 1000);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    notify("Error", "error", "Oops! Something went wrong.");
                },
                complete: function () {
                    $('#saveModal').modal('hide');
                }
            });
        });

        $('#btnYesConfirm').click(function () {
            $.ajax({
                type: 'POST',
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/PurchaseRequest/Confirm?id=@ViewBag.param',
                data: {},
                success: function (response) {
                    isValid = response.status;
                    $('#confirmModal').modal('hide');

                    if (!isValid) {
                        //toastr.error(response.message);
                        notify("Warning", "warning", response.message);
                    } else {
                         notify("Success", "success", response.message);
                        setTimeout(function () { window.location.replace('@ViewBag.BaseUrl/PurchaseRequest/Edit?id=@ViewBag.param'); }, 1000);
                    }
                }
            });
        });

        $('#btnYesDelete').click(function () {
            $.ajax({
                type: 'POST',
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/PurchaseRequest/Cancel?id=@ViewBag.param',
                data: {},
                success: function (response) {
                    isValid = response.status;
                    $('#deleteModal').modal('hide');
                    if (!isValid) {
                        notify("Warning", "warning", response.message);
                    } else {
                         notify("Success", "success", response.message);
                        setTimeout(function () { window.location.replace('@Url.Action("Index", "PurchaseRequest")'); }, 1000);
                    }
                }
            });
        });

        var table = $('#data_table').DataTable({
            processing: true,
            serverSide: true,
            scrollY: "250px",
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            order: [[1, "desc"]],
            ajax: {
                "dataType": "json",
                "type": "POST",
                "url": server + "Api/PurchaseRequest/DatatableRawMaterial"
            },
            columnDefs: [
                { orderable: false, targets: 0 }
            ],
            columns: [
                {
                    "data": null,
                    "render" : function(data, type, row) {
                        return '<i class="ik ik-check"></i>';
                    }
                },
                { "data": "ID", "name": "ID", "visible" : false },
                { "data": "Code", "name": "Code" },
                { "data": "Name", "name": "Name" },
                { "data": "Qty", "name": "Qty" },
                { "data": "UoM", "name": "UoM" },
                { "data": "MinPurchaseQty", "name": "MinPurchaseQty" }
            ]
        });

    $('#btnAdd').click(function () {


            $('#deliveryDate').removeClass('is-invalid');
            $('#deliveryDate').next().html("");
            if (sourceID == 'Warehouse') {
                if ($('#deliveryDate').val() == '') {
                    $('#deliveryDate').addClass('is-invalid');
                    $('#deliveryDate').next().html("Delivery Date is required.");
                    return false;
                }
            }
            $('#materialInfo').hide();
            $('#formModal').modal('show');
            table.search('').draw();
            table.columns.adjust();
            $('#data_table tbody tr').removeClass('row_selected');
            $('#detailCode').val('');
            $('#detailQty').val('');
            $('#detailMinPurchaseQty').val('0');
            $('#detailMinPurchaseQtyKg').val('0');
            $('#detailMinPurchaseQtyLitre').val('0');


            $('#totalQty').val(0);
            $('#totalBag').val(0);
            $('#detailETA').val('');

            $('#detailCode').next().html('');
            $('#detailCode').removeClass('is-invalid');

            $('#detailName').next().html('');
            $('#detailName').removeClass('is-invalid');

            $('#detailQty').next().html('');
            $('#detailQty').removeClass('is-invalid');
            $('#detailETA').next().html('');
            $('#detailETA').removeClass('is-invalid');
            $('#remarks').val('');
            $('#packaging').val('');
            $('#packaging').next().html('');
            $('#packaging').removeClass('is-invalid');

            if (sourceID == 'Warehouse') {
                $('#detailETA').hide();
                $('#receiveDate').hide();
                $('#packagingGroup').show();
            } else {
                $('#detailETA').show();
                $('#receiveDate').show();
                $('#packagingGroup').hide();
            }

        });


        function dissmissDialog() {
            $('#saveModal').modal('hide');
        }

        $('.number1').inputmask("9{*}", { "placeholder": "" });
        $('.number-non-decimal').inputmask({ "placeholder": "", 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 0, 'digitsOptional': false });
        //$('.number').inputmask("9{*}", { "placeholder": "" });
        //$('.number').inputmask({ "placeholder": "", 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false });

        $('.number').inputmask({ "placeholder": "", 'alias': 'numeric', 'groupSeparator': ',', 'radixPoint': '.', 'autoGroup': true, 'digits': 2, 'digitsOptional': false });

        var data_rm = "";
        let MoQ = 0;
        let QtyPerBag = 0;

        $('#data_table tbody').on('click', 'tr', function () {
            data_rm = table.row(this).data();

            if (sourceID == 'Warehouse') {
                $('#detailETA').hide();
                $('#receiveDate').hide();
                $('#packagingGroup').show();
            } else {
                $('#detailETA').show();
                $('#receiveDate').show();
                $('#packagingGroup').hide();
            }
            $('#materialInfo').show();


            $('#detailCode').next().html('');
            $('#detailCode').removeClass('is-invalid');

            $('#detailName').next().html('');
            $('#detailName').removeClass('is-invalid');


            $('#detailQty').val('');
            $('#detailQty').next().html('');
            $('#detailQty').removeClass('is-invalid');
            $('#detailETA').next().html('');
            $('#detailETA').removeClass('is-invalid');
            $('#remarks').val('');
            $('#packaging').val('');
            $('#packaging').next().html('');
            $('#packaging').removeClass('is-invalid');

            $('#detailID').val(data_rm.ID);
            $('#detailCode').val(data_rm.Code);
            $('#detailName').val(data_rm.Name);
            $('#detailMinPurchaseQty').val(data_rm.MinPurchaseQty);
            $('#detailMinPurchaseQtyKg').val(data_rm.MinPurchaseQty);
            $('#detailMinPurchaseQtyLitre').val(data_rm.MinPurchaseQtyLitre);
            $('#QtyPerBag').val(data_rm.Qty);
            MoQ = data_rm.MinPurchaseQty;
            QtyPerBag = data_rm.Qty;

            var html = '<option value="KG">KG</>';
            if (data_rm.IsConvertible == true) {
                html += '<option value="L">L</>';
            }
            $('#detailUnitOfOrder').empty();
            $('#detailUnitOfOrder').append(html);

            $('#data_table tbody tr').removeClass('row_selected');
            $(this).addClass('row_selected');
            calculateQty();
        });

        $('#detailQty').keyup(function (ev) {
            calculateQty();
        });

        function calculateQty() {
            let qty = $('#detailQty').val();
            let totalQty = MoQ.replace(/\,/g, '') > 0 ? MoQ.replace(/\,/g, '') * qty : QtyPerBag.replace(/\,/g, '') * qty;
            $('#totalQty').val(totalQty);
            let totalBag = totalQty / QtyPerBag.replace(/\,/g, '');
            $('#totalBag').val(totalBag);
        }

        $('#detailUnitOfOrder').change(function () {
            if ($(this).val() == 'KG') {
                $('#detailMinPurchaseQty').val(data_rm.MinPurchaseQty);
                $('#QtyPerBag').val(data_rm.MinPurchaseQty);
                MoQ = data_rm.MinPurchaseQty;
                QtyPerBag = data_rm.Qty;
            } else {
                $('#detailMinPurchaseQty').val(data_rm.MinPurchaseQtyLitre);
                $('#QtyPerBag').val(data_rm.MinPurchaseQtyLitre);
                MoQ = data_rm.MinPurchaseQtyLitre;
                QtyPerBag = data_rm.MinPurchaseQtyLitre;
            }
            calculateQty();
        });

        $('#deliveryDate').on("changeDate", function () {
            $('#detailTable .eta').val($(this).val());
            $('.eta_txt').text($(this).val())
        });

    $('#btnAddDetail').click(function () {
            let eta = "";
            if (sourceID == 'Warehouse') {
                eta = $('#deliveryDate').val() ? moment($('#deliveryDate').val(), 'DD/MM/YYYY').format('YYYY-MM-DD') : "";
            } else {
                eta = $('#detailETA').val() ? moment($('#detailETA').val(), 'DD/MM/YYYY').format('YYYY-MM-DD') : "";
            }
            $.ajax({
                type: 'POST',
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/PurchaseRequest/CreateDetail',
                data: {
                    HeaderID : '@ViewBag.param',
                    RawMaterialID: $('#detailID').val(),
                    UoM: $('#detailUnitOfOrder').val(),
                    ETA: eta,
                    Qty: $('#detailQty').val() ?  $('#detailQty').val().replace(/\,/g, '') : 0,
                    Packaging: $('#packaging').val() ? $('#packaging').val() : 0,
                    Remarks: $('#remarks').val()
                },
                success: function (response) {
                    isValid = response.status;
                    if (!isValid) {
                        $.each(response.error_validation, function (index, value) {
                            $('.' + value.FieldName).next().html(value.ErrorMessage);
                            $('.' + value.FieldName).addClass('is-invalid');
                        });

                        notify("Warning", "warning", response.message);
                    } else {
                          notify("Success", "success", response.message);
                        $('#formModal').modal('hide');
                        $('#detailTable').DataTable().ajax.reload();
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    notify("Error", "error", "Oops! Something went wrong.");
                }
            });
        });

    $('#btnPDF').on('click', function () {
        window.open('@Url.Action("PDF", "PurchaseRequest")' + '?id=@ViewBag.param', "_blank");
        });

</script>
}