﻿
@{
    ViewBag.Title = "Purchase Request";
    ViewBag.Module = "PurchaseRequest";
    ViewBag.Create = String.Concat(ViewBag.Title.Replace(" ", ""), "/Create");
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-user bg-blue"></i>
                <div class="d-inline">
                    <h5>@ViewBag.Title</h5>
                    <span>List</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href=""><i class="ik ik-database"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">PPIC Data</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="col-md-10">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Filter</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="Filter">
                                <option value="OPEN">OPEN/PROGRESS</option>
                                <option value="CONFIRMED">CONFIRMED</option>
                                <option value="ALL">ALL</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Filtered By</label>
                        <div class="col-sm-4 fa-pull-left">
                            <span id="FilteredBy" class="badge badge-info">OPEN/PROGRESS</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                        <a href="@Url.Action("Create", "PurchaseRequest")" class="btn btn-primary float-right"><i class="ik ik-plus"></i>Create</a>
                </div>
            </div>
            <div class="card-body">
                <div class="dt-responsive col-md-12">
                    <table class="table table-bordered table-striped nowrap" id="data_table" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th>CODE</th>
                                <th>REF NUMBER</th>
                                <th>SOURCE TYPE</th>
                                <th>SOURCE CODE</th>
                                <th>SOURCE NAME</th>
                                <th>DESTINATION CODE</th>
                                <th>DESTINATION NAME</th>
                                <th>STATUS</th>
                                <th>CREATED BY</th>
                                <th>CREATED ON</th>
                                <th>MODIFIED BY</th>
                                <th>MODIFIED ON</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="uploadModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Import Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                <button type="button" class="btn btn-success" id="btnUploadSave"><i class="ik ik-check-circle"></i>Yes</button>
            </div>
        </div>
    </div>
</div>



@section custom_css
{
    @Styles.Render("~/Content/plugins/datatables/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables/fixedColumns.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/toastr/toastr.css")
}

@section custom_js
{
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.fixedColumns.min.js")
    @Scripts.Render("~/Content/plugins/toastr/toastr.min.js")
    @Scripts.Render("~/Content/custom/js/notification.js")

    <script>

        let server = '@ViewBag.server';
        var isValid = true;
        let token = '@Session["token"].ToString()';
        let module = '@ViewBag.Module';
        let baseUrl = '@ViewBag.BaseUrl';

        var table = $('#data_table').DataTable({
            processing: true,
            serverSide: true,
            scrollY: "500px",
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            order: [[1, "desc"]],
            ajax: {
                dataType: "json",
                type: "POST",
                url: server + "Api/PurchaseRequest/DatatableHeader?transactionStatus=OPEN",
            },
            columnDefs: [
                { orderable: false, targets: -1 }
            ],
            columns: [
                { "data": "Code", "name": "Code", "autoWidth": true },
                { "data": "RefNumber", "name": "RefNumber", "autoWidth": true },
                { "data": "SourceType", "name": "SourceType", "autoWidth": true },
                { "data": "SourceCode", "name": "SourceCode", "autoWidth": true },
                { "data": "SourceName", "name": "SourceName", "autoWidth": true },
                { "data": "DestinationCode", "name": "DestinationCode", "autoWidth": true },
                { "data": "DestinationName", "name": "DestinationName", "autoWidth": true },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        let badge = '';
                        if (data.TransactionStatus == 'OPEN') {
                            badge = 'badge badge-info';
                        } else if (data.TransactionStatus == 'CONFIRMED') {
                            badge = 'badge badge-success';
                        } else {
                            badge = 'badge badge-danger';
                        }
                        let button = '<span class="' + badge + '">' + data.TransactionStatus + '</span>';
                        return button;
                    },
                    "name": "TransactionStatus"
                },
                { "data": "CreatedBy", "name": "CreatedBy", "autoWidth": true },
                { "data": "CreatedOn", "name": "CreatedOn", "autoWidth": true },
                { "data": "ModifiedBy", "name": "ModifiedBy", "autoWidth": true },
                { "data": "ModifiedOn", "name": "ModifiedOn", "autoWidth": true },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        let button = '<a class="btn btn-info" href="' + baseUrl + '/PurchaseRequest/Edit?id=' + row.ID + '">';
                        button += '<i class="ik ik-edit"></i>Edit</a>';
                        return button;
                    }
                },
            ]
        });

        $('#Filter').change(function () {
            var Filter = $('#Filter').val();
            $('#FilteredBy').html(Filter);

            var badge = 'badge ';
            if (Filter == 'OPEN') {
                badge += 'badge-info';
            } else if (Filter == 'CONFIRMED') {
                badge += 'badge-success';
            } else {
                badge += 'badge-primary';
                Filter = '';
            }
            $('#FilteredBy').removeClass();
            $('#FilteredBy').addClass(badge);
            table.ajax.url(server + "Api/@ViewBag.Module/DatatableHeader?transactionStatus=" + Filter).load();
        });
    </script>
}