﻿
@{
    Layout = null;
    int i = 1;
}

@model WMS_FE.Models.PurchaseRequestHeaderDTO
<!DOCTYPE html>
<html>
<head>
    <title>@Model.Code</title>
    <style type="text/css">
        body {
            font-family: 'Arial Rounded MT';
        }

        table{
            font-size:14px;
        }

        .tbl_header th, td {
            padding: 5px;
        }

        .tableDetail {
            border-collapse: collapse;
        }

            .tableDetail, .tableDetail th, .tableDetail td {
                border: 1px solid black;
            }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: gray;
            color: white;
            text-align: center;
        }

        .header img {
            width: 80px ;
        }

        .header span {
            font-size: 10px;
        }

       /* .tbl_header td{
            padding:10px;
        }*/

/*        #footer {
            position: fixed;
            left: 0;
            bottom: 0;
        }*/

        header {
            position: running(header);
        }

        footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }

        @@page {
            margin-top: 260px;

            @@top-left {
                content: element(header);
            }

            @@bottom-left {
                content: "@Model.Code";
            }

            @@bottom-right {
                content: "Page " counter(page) " of " counter(pages);
            }
        }

    </style>
</head>

<body>
    <header>
        <div class="header">
            <img src="@ViewBag.Logo" style="display: inline-block;" />
            <div style="display: inline-block; width: 610px;text-align: right">
                <span>PT. ELASTOMIX INDONESIA</span>
                <br />
                <span>Kawasan Industri Mitrakarawang, Jalan. Mitra Selatan III, Blok H-8</span>
                <br />
                <span>Parungmulya, Ciampel, Karawang, Jawa Barat 41361, Indonesia</span>
            </div>

            @*<h2 style="float:right;font-size:12px;">
                <b>@Model.Code</b>
            </h2>*@
        </div>
        <h2 style="text-align:center;margin-bottom:25px;">
            <b>@ViewBag.Title</b>
        </h2>
        <table class="tbl_header" style="width: 50%; display: inline-block;">
            <tbody>
                <tr>
                    <td>From</td>
                    <td>:</td>
                    <td>@Model.SourceCode - @Model.SourceName</td>
                </tr>
                <tr>
                    <td>To</td>
                    <td>:</td>
                    <td>@Model.DestinationCode - @Model.DestinationName</td>
                </tr>
            </tbody>
        </table>
        <table class="tbl_header" style="width: 50%; display: inline-block; ">
            <tbody>
                <tr>
                    <td>No. DO</td>
                    <td>:</td>
                    <td>@Model.RefNumber</td>
                </tr>
                <tr>
                    <td>Delivery Date</td>
                    <td>:</td>
                    <td>@Model.DeliveryDate</td>
                </tr>
                <tr>
                    <td>Truck Type</td>
                    <td>:</td>
                    <td>@Model.TruckType MT</td>
                </tr>
            </tbody>
        </table>
    </header>

    <b style="margin-top:10px;font-size:12px;">Items :</b>
    <table width='100%' class="tableDetail">
        <thead>
            <tr>
                <th><b>NO.</b></th>
                <th><b>ITEM</b></th>
                <th><b>DESCRIPTION</b></th>
                <th colspan="2"><b>QTY</b></th>
                <th><b>PACKAGING</b></th>
                <th><b>REMARKS</b></th>
            </tr>
        </thead>
        <tbody>
            @*Dynamic view*@
            @{
                int pallets = 0;
            }
            @foreach (var item in Model.Details)
            {
                <tr>
                    <td align="center">@i</td>
                    <td>@item.RawMaterialCode</td>
                    <td>@item.RawMaterialName</td>
                    <td style="border-right:none;" align="right">@item.Qty</td>
                    <td style="border-left:none;">@item.UoM</td>
                    <td align="center">@item.Packaging Pallet(s)</td>
                    <td></td>
                </tr>
                pallets += Convert.ToInt32(item.Packaging);
                i++;
            }
            @*@for (int z = 0; z <= 50; z++)
                {
                <tr>

                    @if (z < Model.Details.Count())
                    {
                        var item = Model.Details[z];
                        pallets += Convert.ToInt32(item.Packaging);
                        <td align="center">@i</td>
                        <td>@item.RawMaterialCode</td>
                        <td>@item.RawMaterialName</td>
                        <td style="border-right:none;" align="right">@item.Qty</td>
                        <td style="border-left:none;">@item.UoM</td>
                        <td align="center">@item.Packaging Pallet(s)</td>
                    }
                    else
                    {
                        <td align="center">@i</td>
                        <td></td>
                        <td></td>
                        <td style="border-right:none;" align="right"></td>
                        <td style="border-left:none;"></td>
                        <td align="center"></td>
                    }
                    <td></td>
                </tr>

                i++;
            }*@
        </tbody>
        <tfoot>
            <tr>
                <td align="center">Total</td>
                <td colspan="2" align="center">@Model.Details.Count() ITEMS</td>
                <td colspan="2"></td>
                <td align="center">@pallets Pallet(s)</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
   
    <div style="margin-bottom: 120px;">&nbsp;</div>
    <footer>
        <b style="padding:5px;font-size:14px;float:right">Karawang, @Model.CreatedOn</b>
        <table width='100%' style="margin-top:10px; border-collapse: collapse;" id="footer">
            <tbody>
                <tr>
                    <td rowspan="4" style="border: 1px solid;" width="20%" valign="top" align="left" height="80"><i><b><u>REMARK : </u></b></i></td>
                    <td style="border: 1px solid;" width="20%" align="center"><b>Issued By</b></td>
                    <td style="border: 1px solid;" width="20%" align="center"><b>Checked By</b></td>
                    <td style="border: 1px solid;" width="20%" align="center"><b>Approved By</b></td>
                    <td style="border: 1px solid;" width="20%" align="center"><b>Supplier</b></td>
                </tr>
                <tr>
                    <td style="border: 1px solid;" width="20%" align="center" height="80" valign="bottom"></td>
                    <td style="border: 1px solid;" width="20%" align="center" height="80" valign="bottom"></td>
                    <td style="border: 1px solid;" width="20%" align="center" height="80" valign="bottom"></td>
                    <td style="border: 1px solid;" width="20%" align="center" height="80" valign="bottom"></td>
                </tr>
                @*<tr>
                    <td style="border: 1px solid;" width="20%" align="center" valign="top"><b>Warehouse</b></td>
                    <td style="border: 1px solid;" width="20%" align="center" valign="top"><b>Purchase & Logisctic</b></td>
                    <td style="border: 1px solid;" width="20%" align="center" valign="top"><b>General Manager</b></td>
                    <td style="border: 1px solid;" width="20%" align="center" valign="top"><b></b></td>
                </tr>*@
            </tbody>
        </table>
    </footer>
</body>


</html>