﻿
@{
    Layout = null;
    int i = 1;
}

@model WMS_FE.Models.PurchaseRequestHeaderDTO
<!DOCTYPE html>
<html>
<head>
    <title>@Model.Code</title>
    <style type="text/css">
        body {
            font-family: 'Arial Rounded MT';
        }

        table{
            font-size:14px;
        }

        .tbl_header th, td {
            padding: 5px;
        }

        .tableDetail {
            border-collapse: collapse;
        }

            .tableDetail, .tableDetail th, .tableDetail td {
                border: 1px solid black;
            }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: gray;
            color: white;
            text-align: center;
        }

        .header img {
            width: 80px ;
            display: inline-block;
            vertical-align: middle;
        }

        .header span {
            font-size: 10px;
        }

       /* .tbl_header td{
            padding:10px;
        }*/

        header {
            position: running(header);
        }

        footer {
            position: absolute;
            left : 0;
            right : 0;
            bottom : 0;
        }

        @@page {
            margin-top: 260px;

            @@top-left {
                content: element(header);
            }

            @@bottom-left {
                content: "@Model.Code";
            }

            @@bottom-right {
                content: "Page " counter(page) " of " counter(pages);
            }
        }
    </style>
</head>

<body>
    <header>
        <div class="header">
            <img src="@ViewBag.Logo" />
            <span>PT. ELASTOMIX INDONESIA</span>
            <h2 style="float:right;font-size:12px;">
                <b>@Model.Code</b>
            </h2>
        </div>
        <h2 style="text-align:center;margin-bottom:25px;">
            <b>@ViewBag.Title</b>
        </h2>
        <table class="tbl_header" style="width: 50%; display: inline-block; ">
            <tbody>
                <tr>
                    <td width= "100px">Section</td>
                    <td width="1px">:</td>
                    <td>Purchasing & Logistic</td>
                </tr>
                <tr>
                    <td>Date Request</td>
                    <td>:</td>
                    <td>@Model.CreatedOn</td>
                </tr>
                <tr>
                    <td>Request Number</td>
                    <td>:</td>
                    <td>@Model.Code</td>
                </tr>
            </tbody>
        </table>
        <table class="tbl_header" style="width: 50%; display: inline-block; ">
            <tbody>
                <tr>
                    <td width="30px">Type</td>
                    <td>:</td>
                    <td>@Model.SourceType</td>
                </tr>
                <tr>
                    <td>Supplier Name</td>
                    <td>:</td>
                    <td>@Model.SourceCode - @Model.SourceName</td>
                </tr>
                <tr>
                    <td>Destination</td>
                    <td>:</td>
                    <td>@Model.DestinationCode - @Model.DestinationName</td>
                </tr>
            </tbody>
        </table>
    </header>
    
    <table width='100%' class="tableDetail">
        <thead>
            <tr>
                <th><b>NO.</b></th>
                <th><b>ITEM</b></th>
                <th><b>DESCRIPTION</b></th>
                <th><b>QTY</b></th>
                <th><b>U/M</b></th>
                <th><b>REQUEST DATE</b></th>
                <th width="375px"><b>REMARK</b></th>
            </tr>
        </thead>
        <tbody>
            @*Dynamic view*@
            @foreach (var item in Model.Details)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.RawMaterialCode</td>
                        <td>@item.RawMaterialName</td>
                        <td align="right">@item.Qty</td>
                        <td>@item.UoM</td>
                        <td>@item.ETA</td>
                        <td>@item.Remarks</td>
                    </tr>
                    i++;
                }
            @*@for (int z = 0; z <= 34; z++)
            {
                <tr class="tableDetailRow">

                    @if (z < Model.Details.Count())
                    {
                        var item = Model.Details[z];
                        <td>@i</td>
                        <td>@item.RawMaterialCode</td>
                        <td>@item.RawMaterialName</td>
                        <td align="right">@item.Qty</td>
                        <td>@item.UoM</td>
                        <td>@item.ETA</td>
                        <td>@item.Remarks</td>
                    }
                    else
                    {
                        <td>@i</td>
                        <td></td>
                        <td></td>
                        <td align="right"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    }
                </tr>

                i++;
            }*@
        </tbody>
    </table>

    <div style="margin-bottom: 120px;">&nbsp;</div>
    <footer>
        <table width='100%' style="margin-top:10px; border-collapse: collapse;">
            <tbody>
                <tr>
                    <td style="border: 1px solid;" width="20%" align="center"><b>Issued</b></td>
                    <td style="border: 1px solid;" width="20%" align="center"><b>Section Head</b></td>
                    <td style="border: 1px solid;" width="20%" align="center"><b>Dept. Head</b></td>
                    <td style="border: 1px solid;" width="20%" align="center"><b>General Manager</b></td>
                    <td style="border: 1px solid;" width="20%" align="center"><b>Receipt</b></td>
                </tr>
                <tr>
                    <td style="border: 1px solid;" width="20%" align="center" height="80"><b></b></td>
                    <td style="border: 1px solid;" width="20%" align="center" height="80"><b></b></td>
                    <td style="border: 1px solid;" width="20%" align="center" height="80"><b></b></td>
                    <td style="border: 1px solid;" width="20%" align="center" height="80" valign="bottom"><b></b></td>
                    <td style="border: 1px solid;" width="20%" align="center" height="80" valign="bottom"><b>Purchase</b></td>
                </tr>
            </tbody>
        </table>
    </footer>
</body>


</html>